body{
    font-family: "Helvetica" , sans-serif;
}

.app {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;

   

}
.timer{
    color: seashell;
    background: black !important;
    text-align: center;
    width: 150px;
    padding: 20px;
    background: rgba(0, 0, 0, .05);
    border-radius: 8px 8px  0px 0px;
}
.buttons{
    padding: 15px 25px 15px 25px;
    text-align: center;
    background: #f3f3f3;
    border-radius:   0px 0px 8px 8px;
}